.container {
	/*border-radius: 25px;
    border-style: solid;
    border-color: #000000;*/
    padding: 20px; 
    width: 90%;
    height: 90%; 
}

#canvas {
	float: left;
}

#diff {
	height: 80px;
    /*border-width: 5px;	
    border-style: dashed;*/
    background-color: #E0E0E0;
}

#move {
	height: 80px;
    background-color: #E0E0E0  ;
}

#info {
	height: 80px;
    background-color: #E0E0E0  ;
}

#auto {
	height: 80px;
    background-color: #E0E0E0  ;
}

#test {
	height: 80px;
    background-color: #E0E0E0  ;
}

/*#bannerwrap {
	background-color: #E0E0E0;
}*/